body {
  text-align: center;
  background-color: rgba(0, 106, 195, 1);
  color: rgba(254, 223, 1, 1);
}
canvas {
  height: 600px;
  background-color: white;
  widows: 800px;
}

.container {
  padding: 10px 130px;
}
.nav-button {
  display: inline-block;
  margin-right: 29px;
  margin-top: 10px;
  background-color: rgba(0, 106, 195, 1);
  padding: 10px 20px;
  color: rgba(254, 223, 1, 1);
  border: 1px solid rgba(254, 223, 1, 1);
}

.nav-button:hover {
  background-color: rgba(254, 223, 1, 1);
  color: rgba(0, 106, 195, 1);
  border: 1px solid rgba(254, 223, 1, 1);
}
